@charset "UTF-8";

* {
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Roboto', sans-serif;
}

ul,ol,li {
    list-style:none;
}

/*--슬라이더 시작--*/
#sliderwrap {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
}

.slider {
    width: 5760px;

    display: flex;
}

.sldier>li {
    width: 1920px;
    height: 500px;
    float: left;
}

.sldier>li>a>img {
    width: 100%;
    height: 100%;
}

/*--슬라이더 끝--*/

/*--메인 시작--*/
main {
    width: 100%;
    height: 8350px;
    margin: 0 auto;
}

/*--메인 상단 아이콘--*/
#main_icon {
    width: 1260px;
    height: 300px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_iconbox {
    float: left;
    width: 90px;
    height: 112.5px;

    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.main_iconbox>a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    float: left;
    width: 100px;
    height: 90px;
}

.main_iconbox>a>img {
    float: left;
    width: 80px;
    height: 80px;
    margin: 0 0 10px 10px;

    opacity: 1;
    transition: 0.5s;
}

.main_iconbox>a>span {
    display: inline-block;
    text-align: center;
    width: 100px;
}

.main_iconbox:hover>a>img {
    opacity: 0.7;
    transition: 0.5s;
}

/*--메인 타임특가--*/
#main_timesale {
    width: 1260px;
    height: 870px;
    margin: 0 auto;
}

#main_timesale>img {
    width: 250px;
    height: 75px;
    margin: 0 505px;
}

#timesale_clock {
    width: 330px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#timesale_clock img {
    width: 28px;
    height: 28px;
}

#timesale_clock>h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

#timesale_box {
    width: 1260px;
    height: 600px;
    float: left;

    display: flex;
    justify-content: space-around;
}

.timesale_product {
    width: 390px;
    height: 600px;
    float: left;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 4px 4px 4px #eee;
}

.timesale_product>a>img {
    width: 390px;
    height: 390px;

    transform: scale(1);
    transition: 0.5s;
}

.timesale_product:hover>a>img {
    transform: scale(1.01);
    transition: 0.5s;
}

.timesale_product>a>h3 {
    float: left;
    color: #000;
    margin: 20px 20px 30px 20px;
    font-weight: bold;
}

.timesale_product>a>span {
    float: left;
    color: #000;
    font-size: 25px;
    font-weight: bold;
    margin: 0 0 0 20px;
    width: 100%;
}

#timesale_00::before {
    content: "28% ";
    color: #FF4438;
}

#timesale_01::before {
    content: "33% ";
    color: #FF4438;
}

#timesale_02::before {
    content: "31% ";
    color: #FF4438;
}

.timesale_product>a>p {
    float: left;
    color: #AEAEAE;
    font-size: 15px;
    margin: 10px 0 10px 20px;
    text-decoration: line-through;
}

/*--메인 베너1--*/


.banner_wrap {
    width: 1260px;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
}

.main_ban {
    width: 3780px;
}

.main_ban>li {
    width: 1260px;
    height: 200px;
    float: left;
}

.main_ban>li>a>img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

/*--뮤제오에만 있어요--*/
#main_only {
    width: 1260px;
    height: 1020px;
    margin: 0 auto;
}

#main_only>h1 {
    text-align: center;
    font-size: 40px;
    margin: 150px 0 0 0;
    font-weight: bolder;
}

#only_productbox {
    width: 1260px;
    height: 350px;
    float: left;
    margin: 50px 0 30px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.only_product {
    width: 220px;
    height: 350px;
    float: left;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 0 0 40px;
}

.only_product:nth-of-type(1) {
    margin-left: 0;
}

.only_product:nth-of-type(6) {
    margin-left: 0;
}

.only_product>a>img {
    width: 220px;
    height: 220px;
    border-radius: 5px;

    transform: scale(1);
    transition: 0.5s;
}

.only_product:hover>a>img {
    transform: scale(1.02);
    transition: 0.5s;
}

.only_product>a>h3 {
    float: left;
    color: #000;
    margin: 10px 20px 10px 0px;
    font-size: 14px;
    line-height: 20px;
    width: 220px;
    height: 40px;
    font-weight: bold;
}

.only_product>a>span {
    float: left;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    width: 100%;
}

.only_product>a>#only_00::before {
    content: "36% ";
    color: #FF4438;
}

.only_product>a>#only_01::before {
    content: "8% ";
    color: #FF4438;
}

#only_02::before {
    content: "40% ";
    color: #FF4438;
}

#only_03::before {
    content: "15% ";
    color: #FF4438;
}

#only_05::before {
    content: "32% ";
    color: #FF4438;
}

#only_06::before {
    content: "15% ";
    color: #FF4438;
}

#only_07::before {
    content: "15% ";
    color: #FF4438;
}

#only_08::before {
    content: "27% ";
    color: #FF4438;
}

#only_09::before {
    content: "6% ";
    color: #FF4438;
}

.only_product>a>p {
    float: left;
    color: #AEAEAE;
    font-size: 12px;
    margin: 10px 0 10px 0px;
    text-decoration: line-through;
}

/*--md 추천--*/
#main_md {
    width: 100%;
    height: 779.16px;
    margin: 0 auto;
    background-color: #FAF9F6;

}

#main_md>h1 {
    text-align: center;
    font-size: 40px;
    margin: 100px 0 0 0;
    font-weight: bolder;
    padding: 80px 0 50px 0;
}

.md_box_slide_wrap {
    width: 100%;
    overflow: hidden;
    position: absolute;
}

.md_box_slide {
    width: 2290px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item_box {
    width: 350px;
    height: 560.03px;
    float: left;
    margin: 0;
    text-align: center;
}

.item_box>a>img {
    width: 317.16px;
    height: 317.16px;
    border-radius: 100%;
}

.item_box>a>h3 {
    color: #000;
    font-size: 12px;
    line-height: 20px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    float: left;
    margin: 20px 0 0 0;
    font-weight: bold;
    display: none;
}

.item_box>span {
    float: left;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin: 30px 0 10px 0;
    display: none;
}

#md_00:before {
    content: "36% ";
    color: #FF4438;
}

#md_01:before {
    content: "13% ";
    color: #FF4438;
}

#md_02:before {
    content: "28% ";
    color: #FF4438;
}

#md_03:before {
    content: "31% ";
    color: #FF4438;
}

#md_04:before {
    content: "16% ";
    color: #FF4438;
}

#md_05:before {
    content: "18% ";
    color: #FF4438;
}

.item_box>p {
    color: #AEAEAE;
    font-size: 12px;
    text-decoration: line-through;
    text-align: center;
    margin-top: 10px;
    display: none;
}

.btn_wrap {
    width: 100%;
    text-align: center;
    position: relative;
    top: 375px;
}

.btn_wrap>span {
    font-size: 50px;
    color: #666;
    font-weight: lighter;
    opacity: 0.5;
    margin: 0 170px;
}

.btn_wrap>span:hover {
    cursor: pointer;
}

/*--카뮤 이벤트--*/
#main_event {
    width: 1260px;
    height: 856.59px;
    margin: 0 auto;
}

main>#main_event>h1 {
    text-align: center;
    font-size: 40px;
    margin: 100px 0 -30px 0;
    font-weight: bolder;
}

#event_box {
    width: 1260px;
    height: 700px;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.event_product {
    width: 600px;
    height: 560px;
    float: left;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 4px 4px 4px #eee;
}

.event_big {
    float: left;
    width: 100%;
}

.event_small {
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 50px 20px 0 20px;
}

.event_product>a>h3 {
    color: #000;
    font-size: 17px;
    line-height: 20px;
    width: 400px;
    text-decoration: none;
    float: left;
    margin: 40px 0 0 0;
    font-weight: bold;
}

.event_product>a>span {
    float: left;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    width: 75px;
    margin: 50px 0 0 0;
}

#event_1_0 {
    float: left;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    width: 120px;
    margin: 50px 0 0 0;
}

#event_1_0:before {
    content: "24% ";
    color: #FF4438;
}

.event_product>a>p {
    color: #AEAEAE;
    font-size: 15px;
    text-decoration: line-through;
    float: left;
    margin: 55px 0 0 5px;
    width: 70px;
}

.event_product>a>.event_icon1 {
    float: right;
    width: 25px;
    height: 25px;
    margin: -75px 20px 0px 550px;
}

.event_icon2 {
    float: right;
    width: 25px;
    height: 25px;
    margin: -40px 20px 250px 550px;
}

/*--카테고리 추천 아이템--*/
#main_rec {
    width: 1260px;
    height: 700px;
    margin: 0 auto;

    position: relative;
}

#main_rec>h1 {
    text-align: center;
    font-size: 40px;
    margin: 80px 0 20px 0;
    font-weight: bolder;
}

#rec_nav {
    float: left;
    width: 1160px;
    height: 30px;
    margin: 30px 0 40px 45px;
}

#rec_nav>ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

#rec_nav>ul>a>li {
    float: left;
}

#rec_nav>ul>li {
    text-decoration: none;
    color: #888888;
    border-radius: 20px;
    border: 1px solid #eee;
    padding: 10px 20px;
    margin: 0 10px;
}

#rec_nav>ul>li:hover {
    cursor: pointer;
    color: #FF4438;
    border: 1px solid #FF4438;
}

.rec_productbox {
    width: 1260px;
    height: 350px;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;

    position: absolute;
    top: 170px;
}

#rec_box_02 {
    display: none;
}

.rec_product {
    width: 220px;
    height: 350px;
    float: left;
    border-radius: 5px;
    overflow: hidden;
}

.rec_product>a>img {
    width: 220px;
    height: 220px;
    float: left;
    border-radius: 5px;

    transform: scale(1);
    transition: 0.5s;
}

.rec_product:hover>a>img {
    transform: scale(1.02);
    transition: 0.5s;
}

.rec_product>a>h3 {
    float: left;
    color: #000;
    margin: 10px 20px 5px 0px;
    font-size: 14px;
    line-height: 20px;
    width: 220px;
    height: 40px;
    font-weight: bold;
}

.rec_product>a>span {
    float: left;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    width: 100%;
}

#rec_00::before {
    content: "31% ";
    color: #FF4438;
}

#rec_01::before {
    content: "27% ";
    color: #FF4438;
}

#rec_02::before {
    content: "40% ";
    color: #FF4438;
}

#rec_03::before {
    content: "14% ";
    color: #FF4438;
}

#rec_04::before {
    content: "17% ";
    color: #FF4438;
}

#rec_05::before {
    content: "11% ";
    color: #FF4438;
}

#rec_06::before {
    content: "11% ";
    color: #FF4438;
}

#rec_07::before {
    content: "6% ";
    color: #FF4438;
}

#rec_08::before {
    content: "12% ";
    color: #FF4438;
}

#rec_09::before {
    content: "8% ";
    color: #FF4438;
}

.rec_product>a>p {
    float: left;
    color: #AEAEAE;
    font-size: 12px;
    margin: 10px 0 10px 0px;
    text-decoration: line-through;
}

/*--메인 베너2 : 베너 1과 2 같은 class로 조정--*/

/*--새로 나왔어요--*/
#main_new {
    width: 1260px;
    height: 1009.16px;
    margin: 0 auto;
}

#main_new>h1 {
    text-align: center;
    font-size: 40px;
    margin: 100px 0 50px 0;
    font-weight: bolder;
}

.main_new_wrap {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.new_product_big_wrap {
    width: 484px;
    height: 830px;
    margin-left: 0;
    overflow: hidden;
}

.new_product_big_slide {
    width: 968px;
    height: 830px;
}

.new_product_big_slide li {
    width: 484px;
    float: left;
}

.new_product_big_slide li>a>img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.new_productbox {
    width: 728px;
    height: 830px;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    margin: 0 0 0 45px;
}

.new_product {
    width: 220px;
    height: 370px;
    float: left;
    border-radius: 5px;
    overflow: hidden;
    margin: 30px 0 45px 0;
}

.new_product>a>img {
    width: 220px;
    height: 220px;
    float: left;
    border-radius: 5px;
}

.new_product>a>h3 {
    float: left;
    color: #000;
    margin: 10px 20px 5px 0px;
    font-size: 15px;
    line-height: 20px;
    width: 220px;
    height: 40px;
    font-weight: bold;
}

.new_product>a>span {
    float: left;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    width: 100%;
}

#new_00::before {
    content: "11% ";
    color: #FF4438;
}

#new_02::before {
    content: "34% ";
    color: #FF4438;
}

#new_03::before {
    content: "30% ";
    color: #FF4438;
}

#new_04::before {
    content: "12% ";
    color: #FF4438;
}

#new_05::before {
    content: "11% ";
    color: #FF4438;
}

.new_product>a>p {
    float: left;
    color: #AEAEAE;
    font-size: 12px;
    margin: 10px 0 10px 0px;
    text-decoration: line-through;
    width: 200px;
}

.newicon {
    float: left;
    width: 40px;
    height: 15px;
}

/*--뮤제오 티비--*/
#main_video {
    width: 100%;
    height: 850px;
    margin: 0 auto;
    background-color: #E9DED3;
    align-content: center
}

#main_video>h1 {
    text-align: center;
    font-size: 40px;
    margin: 100px 0 0 0;
    font-weight: bolder;
    padding: 100px 0 20px 0;
}

#vidbox {
    width: 1260px;
    height: 550px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center
}

.vidbox_item {
    width: 600px;
    height: 500px;
    float: left;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
}

.vidbox_item>a>img {
    width: 600px;
    height: 407px;
    border-radius: 5px;

    transform: scale(1);
    transition: 0.5s;
}

.vidbox_item:hover>a>img {
    transform: scale(1.01);
    transition: 0.5s;
}

.vidbox_item>p {
    margin: 15px 0 0 0;
    line-height: 40px;
}

.vidbox_item>h3 {
    font-weight: bold;
    font-size: 20px
}

/*--브랜드관--*/
#main_brand {
    width: 1260px;
    height: 827px;
    margin: 0 auto;
}

#main_brand>h1 {
    text-align: center;
    font-size: 40px;
    margin: 100px 0 30px 0;
    font-weight: bolder;
}

.brandbox {
    width: 1260px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.brand_img_wrap {
    border-radius: 10px;
    width: 302px;
    height: 127px;
    margin: 5px 0;
    background-color: #000;
}

.brand_img_wrap img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: 0.5s;
}

.brand_img_wrap:hover>img {
    opacity: 0.7;
    transition: 0.5s;
}

/*--메인 끝--*/
